# Database
DATABASE_URL="file:./dev.db"

# Authentication
SESSION_SECRET="change-me-to-a-random-string-at-least-32-chars"

# Application
APP_NAME="MAALAL CARS"
APP_LOCALE="fr-MA"
APP_CURRENCY="MAD"
APP_URL="http://localhost:3000"

# Storage
STORAGE_PATH="./storage"

# Environment
NODE_ENV="development"
